<link rel="stylesheet" type="text/css" href="site.css">
<div class="container body-content">

    <h1>@ViewBag.title</h1>

    @{
        //TODO #1: Use a loop to display job results in a table.
            <table>
                @foreach (Job job in ViewBag.jobs)
                {
                <td>
                ID: @job.Id
                Name: @job.Name
                Employer: @job.Employer    
                Location: @job.Location   
                Position Type: @job.PositionType 
                Skill: @job.CoreCompetency
                </td>    
                }
            </table>
    }
</div>